header{
    background-image: url(../../images/Civil-engineers.jpg);
    background-size: cover;
    background-position: center;
}
.part4{
    background-image: url(../../images/bg.png);
    background-size: cover;
    background-position: top;
}
.part5-right{
    background-image: url(../../images/bg-girl.jpg);
    background-size: cover;
    background-position: top;
}