header{
    background-image: url(../../images/Civil-engineers.jpg);
    background-size: 100%;
    background-position: center;
}
.part4{
    background-image: url(../../images/bg.png);
    background-size: cover;
    background-position: top;
}